<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {{# page.description }}
    <meta name="description" content="{{ . }}">
    {{/ page.description }}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {{{ assets }}} 

    <!-- Le fav and touch icons -->
    <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/christmas/2012">Back</a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        {{{ content }}}
      </div>

      <footer>
      <ul class="footer_nav">
        <li><a href="/christmas/2012">Main</a></li>
        <li><a href="/christmas/2012/glenn">Glenn</a></li>
        <li><a href="/christmas/2012/jill">Jill</a></li>
        <li><a href="/christmas/2012/logan">Logan</a></li>
        <li><a href="/christmas/2012/emma">Emma</a></li>
        <li><a href="/christmas/2012/lily">Lily</a></li>
        <li><a href="/christmas/2012/becca">Becca</a></li>
      </ul>
      <div style="clear:both"></div>
      <p>&copy; Goodrichs.NET 2012 Holiday Letter
      </p>
      </footer>

    </div> <!-- /container -->

    {{{ google_prettify }}}
    {{{ analytics }}}
  </body>
</html>
